* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  /* Remove default margins and ensure full viewport */
  margin: 0;
  padding: 0;
}
